
body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
input ,textarea{
height: 24px;
border: solid 1px rgb(158, 200, 255);
border-radius: 5px;

}
textarea{
    height: auto;
}
input[type=submit],
input [type=button]{
   background-color: blueviolet;
   color: #ffffff;
   text-transform: uppercase;
   height: 30px;
   width: auto;
   font-weight: bolder;
    
}
input [type=text]:invalid{
  background-color: chocolate;
     
     }
