.modulos{
  position: absolute;

}
/*footer*/
.footer{
  background: #27496d;
  color: cornsilk;
  height: 400px;
 position:relative;
}
.footer .footer-bottom{
   background: #343a40;
   color:#dae1e7;
   height: 50px;
   width: 100%;
   text-align: center;
   position:absolute;
   bottom:0px;
   left:0px;
   padding-top: 20px;

}
.footer .footer-content{
  border:1px solid red;
  height: 350px;
  display: flex;

}
.footer .footer-content .footer-section{
  flex: 1;
  padding: 25px;
  border: 1px solid white;
}
