<form method="POST" id="frm-buscar-clientes">
    <div class="card text-black bg-light mb-3" style="max-width: 48rem;">
        <div class="car-header"><img src="cliente.png" alt="">
            BUSQUEDA CLIENTE

            <button type="button" id="btn-close-buscar-clientes" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-clientes" class="table-striped bg-light table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="5">
                            <input type="text" v-model="valor" v-on:keyup="buscarCliente" placeholder="nombre direccion o telefono"
                                class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th>NOMBRE</th>
                        <th>DIRECCION</th>
                        <th>TELEFONO</th>
                         <th>DUI</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="clientes in misclientes" :key="clientes.idCliente"
                        v-on:click="modificarCliente(clientes)">
                        <td>{{ clientes.nombre }}</td> 
                        <td>{{ clientes.direccion }}</td>
                        <td>{{ clientes.telefono }}</td>
                        <td>{{ clientes.dui }}</td>
                        <td>
                            <input v-on:click="eliminarClientes(clientes.idCliente)" type="button"
                                class="btn btn-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="Public/vistas/Clientes/buscar-clientes.js"></script>