<form method="POST" id="frm-buscar-usuario">
    <div class="card text-white bg-danger mb-3" style="max-width: 48rem;">

        <div class="car-header">
            BUSQUEDA USUARIO

            <button type="button" id="btn-close-buscar-usuario" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-usuario" class="table-striped table-danger table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="5">
                            <input type="text" v-model="valor"v-on:keyup="buscarUsuario" placeholder="nombre o correo" class="form-control">
                        </th>
                    </tr>
                    <tr>
                      
                        <th>NOMBRE</th>
                        <th>APELLIDO</th>
                        <th>CORREO</th>
                        <th>GENERO</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="usuario in misusuario" :key="usuario.idUsuario" v-on:click="modificarUsuario(usuario)">
                    
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.apellido}}</td>
                        <td>{{ usuario.correo }}</td>
                        <td>{{ usuario.genero }}</td>
                        <td>
                            <input v-on:click="eliminarUsuario(usuario.idUsuario)" type="button" class="btn btn-outline-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="public/vistas/Usuario/buscar-usuario.js"></script>